[buildout]
extensions += mr.developer buildout.dumppickedversions
auto-checkout = 
#              dex.example

eggs += 
#              dex.example
        Products.flickrgallery
        quintagroup.theme.sunrain
        quintagroup.theme.pythonreel
        beyondskins.responsive
        collective.carousel
        ftw.inflator

[sources]
# assumes that packages are added to the src/ directory
#dex.example = fs dex.example

[plone4site]
profiles-initial +=
    quintagroup.theme.pythonreel:default
    quintagroup.theme.sunrain:default
    beyondskins.responsive:default
    collective.carousel:default
